In [1]:
print("Hello Python")

Hello Python

## 파이썬 기초
### 파이썬이란
### 파이썬의 특징
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50% 이상이 파이썬으로 작성

### 파이썬의 특징

- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

### 파이썬으로 할 수 있는 일

- 시스템 유틸리티 제작
- GUI 프로그래밍
- C/C++ 와의 결합
- 웹 프로그래밍
- 수치 연산 프로그래밍
- 데이터베이스 프로그래밍
- 데이터 분석, 사물 인터넷

### 참조

- 표현식 : 어떤한 값을 만들어 내는 간단한 코드. 273, 10 + 20 + 30, "Python Programming"
- 문장 : 표현식이 하나 이상 모이면 문장. print("Hello")
- 프로그램 : 문장이 모여서 프로그램
- 식별자 : 프로그래밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그래밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

In [1]:
!python -V

Python 3.8.12

In [3]:
# 표현식
print (273)
10+20+30

273

60

In [5]:
# 표현식이 하나 이상씩 모이면 문장
print ("Hello Python")
print (52, 'Hello Python', 5+3)

Hello Python
52 Hello Python 8

In [13]:
# 문장이 모여서 프로그램
a = 1;b = 1;c=a+b
print(c)

2

In [17]:
# python keyword
import keyword
print(keyword.kwlist, '\n')
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

### 식별자 기본 규칙

- 키워드를 사용하면 안된다.
- 특수문자는 언더 바( _ )만 사용한다.
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다.

In [ ]:
alpha
break # 키워드
alpha10
_alpha
273alpha # 숫자
AlpHa
ALPHA
has space # 공백

## http://bibi6666667.tistory.com/277
## 파이썬은 snake_case와 Camelcase를 모두 사용

- itemlist item_list ItemList
- loginstatus login_status LoginStatus
- 캐멀 케이스(대문자로 시작) 클래스
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 - 함수
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 - 변수

In [19]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어

if 3 in [1,2,3,4]: print('3이 있습니다.')

3이 있습니다.

In [21]:
if 5 in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,21,23,24,25]: print('5가 있습니다.')

5가 있습니다.

In [23]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
a = 123
b = -123
c = 0
d = 1.23
e = 0o177 # 8진수 0o으로 시작
f = 0xABC # 16진수 0x로 시작
g = 0b101011 # 2진수 0b로 시작
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

123
-123
0
1.23
127
2748
43

In [24]:
# 사칙연산
a = 10
b = 2
c = a + b
d = a & b
e = a / b
f = a % b   # 나머지
g = a // b  # 몫
h = 2 ** 3  # 제곱
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
2
12
2
5.0
0
5
8

In [25]:
# 다른 타입간 연산은 안됨
string = "문자열 "
number = 273
string + number

TypeError: can only concatenate str (not "int") to str

In [26]:
a = 10
a = "문자"
a = 100
type(a)

int

In [27]:
# 복합 대입 연산자
num = 10
num += 10
num *= 10
num

200

In [29]:
num = 100
num -= 50
num /= 5
num

10.0

In [28]:
# 사용자 입력
input('인사말을 입력하세요: ')

인사말을 입력하세요: 안녕하세요

'안녕하세요'

In [30]:
num = input ('숫자를 입력하세요: ')
print(num)
type(num)

숫자를 입력하세요: 10
10

str

In [31]:
num1 = input('숫자를 입력하세요')
num2 = input('숫자를 입력하세요')
print(num1 + num2)

숫자를 입력하세요5
숫자를 입력하세요5
55

In [33]:
# input() 함수를 사용하면 숫자도 문자로 전환되어 숫자연산을 위한 변환필요
num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = int(num2)
print(num1_n + num2_n)

숫자를 입력하세요5
숫자를 입력하세요5
10

In [35]:
# Q. 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요.

num1 = input('숫자를 입력하세요')
num1_n = int(num1)
num2 = input('숫자를 입력하세요')
num2_n = float(num2)
print(num1_n + num2_n)

숫자를 입력하세요3
숫자를 입력하세요3.3
6.3

In [36]:
# Q. a = 52와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 b를 문자열로 계산
# 자료형으로 변환하세요.

a = 52
b = 52.273
print(str(a) + str(b))

5252.273

In [37]:
# 문자열 : "", '', """ """, ''''''
p1 = "python's value is great"
# p2 = 'python's value is great'
print(p1)

python's value is great

In [38]:
s1 = '"pyton is valuable" he says'
s1

'"pyton is valuable" he says'

In [40]:
s2 = 'python\'s value is great'
s2

"python's value is great"

In [41]:
y1 = "Once you study data analysis\nYou need Python"
print(y1)
y2 = '''Once you study data analysis
you need Python'''
print(y2)
y3 = """Once you study data analysis
You need Python"""
print(y3)

Once you study data analysis
You need Python
Once you study data analysis
you need Python
Once you study data analysis
You need Python

In [45]:
p1 = '''인생'은 짧다.\n'당신에겐 파이썬이 필요하다'''
print(p1)

인생'은 짧다.
'당신에겐 파이썬이 필요하다

In [46]:
# 문자열 연산
a1 = 'python'
a2 = ' is easy to learn'
print(a1 + a2)
print(a1 * 3)
print("=" * 20)

python is easy to learn
pythonpythonpython
====================

In [47]:
# 자료형 - List
# 리스트는 [] 로 표시하며 [] 안의 요소를 콤마로 구분하여 순서있게  나열
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]

In [48]:
# 인덱싱
list1 = [1,2,3,4,5]
list1[:]
list3[2]
list3[3][4]
list3[4][1]

'b'

In [54]:
# 리스트 수정, 삭제

a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
a[0] = 1
b[1] = 'a'
print(a)
print(b)
del b[1]
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'a', 'c']
['a', 'c']

In [56]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
c = a + b
print(c)
#c[-1] = 1
# C
c[-1]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']

'c'

In [61]:
# 정렬
b = [2,4,3,1]
b.sort()
print(b)
# 내림차순
b_d = sorted(b, reverse=True)
print(b_d)
b.reverse()
print(b)

[1, 2, 3, 4]
[4, 3, 2, 1]
[4, 3, 2, 1]

In [63]:
# 정렬, 내림차순으로 변환
s = [1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]
s.sort()
print(s)
s. reverse()
print(s)

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [65]:
# 인덱스 위치 반환
c = [1,2,3,1,5]
print(c. index(3))

2

In [71]:
import numpy as np
c = np.random.randint(100, size=100).tolist()
print(c)
c.index(65)

[1, 83, 84, 95, 23, 63, 76, 17, 97, 90, 69, 97, 87, 44, 65, 75, 11, 78, 48, 78, 18, 75, 44, 18, 56, 80, 29, 0, 55, 83, 69, 82, 75, 61, 88, 30, 97, 96, 2, 26, 91, 9, 26, 34, 13, 81, 21, 10, 73, 91, 95, 64, 71, 16, 69, 49, 51, 7, 34, 96, 94, 83, 32, 81, 38, 30, 21, 59, 89, 76, 85, 43, 21, 95, 19, 40, 78, 69, 21, 52, 82, 88, 13, 20, 21, 80, 44, 24, 2, 58, 18, 66, 99, 93, 71, 79, 49, 57, 70, 81]

14

In [85]:
# 개수 반환
c = [1,1,3,3,3,5,5]
print(c.count(5))

2

In [80]:
# 리스트 확장
h = [1,2,3]
h.extend([4,5])
print(h)
# 추가
h.append(6)
print(h)
h.insert(0,5)
print(h)
h.extend([7,8,9])
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
# 튜플
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = (1, 'a','abc',[1,2,3,4,5],['a','b','c'])

tuple1[:]
tuple3[2]
tuple3[3][4]
tuple3[4][1]

'b'

In [83]:
# 자료형 - Tuple
# 튜플의 요소 값은 변경할 수 없음 - 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용
tuple1[0] = 6
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [84]:
t1 = (1,) # 1개의 요소만 가질 때는 요소뒤에 콤마를 붙여야 함
print(t1)
t2 = 1,2,3
print(t2)
print(t2 * 3)
t3 = t1 + t2
print(t3)
t4 = (1)
print(t4)
type(t4)

(1,)
(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 1, 2, 3)
1

int

In [86]:
# 자료형 - 사전(키와 값을 하나의 요소로 하는 순서가 없는 집합)
d1 = {'a':1,'b':2,'c':3}
print(d1['a'])
d1['b'] = 5
print(d1)

1
{'a': 1, 'b': 5, 'c': 3}

In [87]:
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 5, 3])
dict_items([('a', 1), ('b', 5), ('c', 3)])

In [93]:
a1 = {'a':123,'b':456,'c':789,'d':101112,'e':131415,'f':161718}
print(a1['a'])
a1['c'] = 546
print(a1)

123
{'a': 123, 'b': 456, 'c': 546, 'd': 101112, 'e': 131415, 'f': 161718}

In [94]:
# 자료형 - 집합, set(중복을 허용하지 않으며 순서가 없다.)
s1 = set([1,2,5,4,3])
s2 = set('Hello')
print(s1)
print(s2)

{1, 2, 3, 4, 5}
{'e', 'l', 'o', 'H'}

In [95]:
# 집합은 인덱싱으로 값을 얻을 수 없으며 필요시 리스트나 튜플로 변환 후 인덱싱

l1 = list(s1)
print(l1[1])
l2 = list(s2)
print(l2[1])

2
l

In [97]:
# Q. s1, s2의 합집합과 교집합을 각각 리스트와 튜플로 출력하세요.
# 합집합(s1 ㅣ s2), 교집합(s1 & s2)
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

list1 = list(s1)
print(list(s1|s2))
list2 = list(s2)
print(list(s1&s2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

In [99]:
# 들여쓰기
li = ['a','b','c']
if 'a' in li:
    print('a가 li에 있습니다.')
else:
    print('a가 li에 없습니다.')
if 'd' in li:
    print('d가 li에 있습니다')
else:
    print('d가 li에 없습니다')

a가 li에 있습니다.
d가 li에 없습니다

In [101]:
# 문자열 포멧

name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [103]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은{d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은홍길동입니다. 나이는 30입니다.'

In [104]:
y = 3.123718293
f'{y:0.4f}'   # 소수점 4자리까지만 표현

'3.1237'

In [105]:
f'{y:10.4f}'  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.1237'

In [107]:
# 포멧함수
f1 = "{} 선수가 {}등입니다.".format('홍길동',1)
# f1 = "{1} 선수가 {0}등입니다.".format(1,'홍길동')
print(f1)
print("%s 선수가 %d등입니다." %("홍길동",1))

홍길동 선수가 1등입니다.
홍길동 선수가 1등입니다.

In [109]:
f1 = "{}은 {}보다 {}배 쉽습니다.".format('파이썬','자바',2)
print(f1)
print("%s은 %s보다 ")

파이썬은 자바보다 2배 쉽습니다.

# [과제] 아래와 같이 출력하세요
<img src = 캡처.png STYLE='width:800px:'>

In [120]:
x = 12345
print(x)
f'{x:10.0f}'
y = 12.345679

print(y)

12345
12.345679